{% extends 'index.html' %}
{% block header%}
<div class="index-header-menu-position-logged">
        <div class="index-header-user-logged">
            <div class="user-position">
                   <img src="/static/img/plus.svg" alt="plus" class="gear-style"> <span class="blue">User name</span><img src="/static/img/gear.svg" alt="gear" class="gear-style"> <span class="black">Log out</span> 
            </div>
        </div>
    </div>
{% endblock %}
{% block mainbody %} 
<div class="chat-main-panel-container">
    <div class="desktop-search-box">
        <input class="search-input-desktop-style" placeholder="Search in contacts">
    </div>
    <div class="desktop-contact-panel">
        <div class="chat-panel-dot-style">
            <span class="circle"></span>
            <span class="circle"></span>
            <span class="circle"></span>
        </div>
        <span class="contact-style">Conversation with: Lukasz S</span>
        <span class="x-size"><img src="/static/img/x.svg"></span>
    </div>
</div>
{% endblock %}