{% extends 'index.html' %}
{%block header%}
    <div class="index-header-logo-position">
        <img src="{{url_for('static', filename='img/logo.svg')}}" alt="logo" />
    </div>
    <div class="index-header-menu-position">
        <div class="index-header-menu-align">
            <div class="menu-style-wrapper">
                    <div class="menu-style"></div> 
                    <div class="menu-style"></div> 
                    <div class="menu-style"></div> 
            </div>
            <div class="cross">
            </div>
        </div>
    </div>
        
{%endblock%}