{% extends 'index.html' %}
{%block header%}
    <div class="index-header-logo-position">
        <img src="{{url_for('static', filename='img/logo.svg')}}" alt="logo" />
    </div>
    <div class="index-header-menu-position">
        <div class="index-header-menu-align">
            <div class="menu-style-wrapper">
                    <div class="menu-style"></div> 
                    <div class="menu-style"></div> 
                    <div class="menu-style"></div> 
            </div>
            <div class="cross">
            </div>
        </div>
    </div>
{%endblock%}
{% block mainbody %} 
<div class="dot-menu-position-slide-two">
        <div class="dot-menu" id="dot-one"></div>
        <div class="dot-menu" id="dot-two"></div>
</div>
<div class="slide-one" id="slide-one">
    <div class="back-image">
    </div>
    
    <div class="index-center-content">
        <div class="phone-position">
            <img src="/static/img/phone.svg">
        </div>
        <div class="index-text-container-position">
            <div class="index-text index-text-black">
                Available also
            </div> 
            <div class="index-text index-text-purple">
                for mobile phones
            </div> 
            <div class="index-text-small index-text-black">
                Chat with everyone and everywhere.
            </div>
            <div>
                <button class="index-button-style">join</button>
            </div>
        </div>
        
        <div class="index-text-container-mobile">
            
            <div class="block-left-mobile">
                    <img src="/static/img/phone.svg" class="tablet-view-phone-image">
                    <div class="index-text-mobile index-text-black">Fast</div>
                    <div class="index-text-mobile index-text-black">Functional</div>
                    <div class="index-text-mobile index-text-red-mobile">Free</div>
                    <div class="index-text-mobile-small index-text-black">Start chatinig with friends now!</div>

            </div>
           <div class="block-right-mobile">
                    <div>
                        <span class="index-text-mobile-switch index-text-red mobile-login">Log in</span> <span class="index-text-mobile-switch index-text-purple mobile-register">Sign in</span>
                    </div>
                    <div>
                        <input placeholder="user name" class="mobile-input-style">
                        <input placeholder="password" class="mobile-input-style">
                    </div>
                    <div class="center-button">
                        <button class="index-button-style index-button-style-mobile">Log in</button>
                    </div>
           </div>
        </div>

    </div>
</div>

<div class="slide-two">
    <div class="back-image-slide-two">
        <div class="index-center-content">
                <div class="left-slide-two-container">
                    <div class="index-text-black slide-two-text">Fast</div>
                    <div class="index-text-black slide-two-text">Functional</div>
                    <div class="index-text-red-mobile slide-two-text">Free</div>
                    <div class="index-text-black slide-two-text-small">Start chatinig with friends now!</div>
                    <button class="index-button-style index-button-style-slide-two">See how it works</button>
                </div>
                <div class="right-slide-two-container">
                    <img src="/static/img/screenshot.svg" class="screen-img-size">
                </div>
              
        </div>
    </div>   
</div>



{% endblock %}